/**
 * Svis stylesheet
 * @description
 * Simple Vue3 Image Slideshow stylesheet
 * @author jrmarco <developer@bigm.it>
 * @version 1.0.0
 */
.svis-wrapper {
    margin: 10px auto;
    width: 50%;
}

.svis-wrapper > h1 {
    font-weight: normal;
    text-shadow: 3px 0px 3px darkslategrey;
}

.svis-main-container {
    display: block;
}

.svis-slider {    
    display: flex;
    flex-direction: row;
    width: 80%;
}

.svis-fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.95);
    z-index: 5;
    overflow: hidden;
}

.svis-image {
    width: 95%;
    height: 95%; 
    object-fit: contain;
    z-index: 6;
}

.svis-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.svis-slide {
    margin-left: 0.2em;
    margin-right: 0.2em;
    width: 6em;
    padding: 0.2em;
    border: 1px solid black;
    min-height: 10em;
    display: flex;
    justify-content: center;
}

.svis-slider-image {
    width: inherit;
    margin: auto;
}

.svis-left {
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    border-right: 25px solid rgb(0, 5, 82);
}

.svis-right {
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid rgb(0, 5, 82);
}

.svis-leftside {
    position: fixed;
    top: 50%;
    left: 0;
    padding-left: 2em;
    z-index: 6;
    border-right: 25px solid rgb(70, 112, 191);
}

.svis-rightside {
    position: fixed;
    top: 50%;
    right: 0;
    padding-right: 2em;
    z-index: 6;
    border-left: 25px solid rgb(70, 112, 191);
}

.svis-page {
    margin: auto;
}

.svis-paragraph {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    width: 50%;
    border: 1px purple solid;
    background-color: white;
    color: black;
}

.svis-title {
    text-align: left;
    margin-left: 2em;
    font-size: 1.3em;
}

.svis-description {
    text-align: justify;
    margin-left: 2em;
}

.svis-closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
    background-color: rgb(70, 112, 191);
}

.svis-closeBtn::after {
    display: inline-block;
    content: "\00d7";
    font-size: 2em;
    color: black;
    padding: 2px;
}

.svis-rotate {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background-color: rgb(70, 112, 191);
}

.svis-rotate::after {
    display: inline-block;
    content: "\21bb";
    font-size: 2em;
    color: black;
    padding: 2px;
}

.svis-pointer {
    cursor: pointer;
}